.list-movies__item{
	display: grid;
	gap: 0 20px;
	grid-template-columns: 183px 2fr;
	grid-template-rows: 132px 1fr;
	background-color: #ffffff;
	box-shadow:1px 1px 10px rgba(0, 0, 0, 0.329);
	margin-bottom: 20px;
	height: 279px;
}

.list-movies__img-container{
	min-width: 183px;
	min-height: 279px;
	margin-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column: 1;
	grid-row: span 2;
}

.list-movies__img-container img{
	width: 183px;
	height:279px;
}

.list-movies .list-movies__title{
	font-weight: 400;
	margin-top: 8px;
	margin-right: 10px;
	line-height: 28px;
	height: 50px;
}

.list-movies .list-movies__date{
	font-size: 12px;
	line-height: 22px;
	display: block;
}

.list-movies__wait-data{
	display: flex;
	flex-direction: column;
}

.list-movies  .list-movies__genres{
	display: inline-block;
}

.list-movies__desctiption{
	margin: 7px 20px 1px 0;
	font-size: 12px;
}

.flex{
	display: flex;
	justify-content: space-between;
}

.list-movies__rate-number{
	font-size: 12px;
	margin-right: 10px;
	margin-top: 10px;
	border: 2px solid transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	min-width: 35px;
	min-height: 35px;
	max-width: 35px;
	max-height: 35px;
}

.list-movies__text-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	grid-column: 2/3;
}

.list-movies__description-container{
	display: flex;
	flex-direction: column;

	justify-content: space-between;
	grid-column: 2/3;
	grid-row: 2;
}

.list-movies__rate-number span{
	display: block;
}

.list-movies__rate-number--great{
	border-color: green;
}

.list-movies__rate-number--middle{
	border-color: rgb(231, 177, 0);
}

.list-movies__rate-number--fail{
	border-color: red;
}

.ant-rate.list-movies__rate{
	font-size: 16px;
	margin-bottom: 20px;
}

@media (max-width:1000px) {
	.list-movies{
		grid-template-columns: repeat(2, 390px);
		justify-content: center;
	}

	.ant-alert-with-description.ant-alert-no-icon{
		padding: 0 8px;
	}

	.ant-rate.list-movies__rate{
		margin-bottom: 10px;
		padding-right: 10px;
		text-align: right;
	}

	.list-movies__item{
		width: 390px;
		height: 250px;
		grid-template-columns: 60px 1fr;
		grid-template-rows: 130px 1fr;
		padding: 6px 6px 10px 10px;
		justify-content: center;
	}

	.list-movies__img-container img{
		height: 100px;
		width: 60px;
	}

	.list-movies__img-container{
		min-height: auto;
		min-width: auto;
		height: 110px;
		width: 60px;
		grid-column: 1;
		grid-row: 1;
	}

	.list-movies__text-container{
		grid-column: 2;
		grid-row: 1;
	}

	.list-movies__description-container{
		grid-column: span 2;
		grid-row: 2;
	}
}

@media (max-width: 850px) {
	.list-movies{
		width: 390px;
		display: flex;
		flex-direction:column;
		justify-content: center;
		margin: 0 auto;
	}
}
