.list-movies{
	display: grid;
	grid-template-columns: repeat(2, 454px);
	justify-content: center;
	grid-template-rows: 281px;
	padding: 20px 0;
	gap: 0 36px;
	align-items: center;
}

.list-movies .ant-pagination{
	text-align: center;
}

.list-movies__wait-data{
	display: flex;
	justify-content: center;
}

.list-movies__spin{
	font-size: 30px;
}

.prompt-text{
	font-size: 30px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}